importFrom("DistributionUtils", logHist, safeIntegrate,
           momIntegrated, momChangeAbout,
           skewness, kurtosis, besselRatio, is.wholenumber)
importFrom("GeneralizedHyperbolic",
           dskewlap, hyperbChangePars, ghypChangePars,
           momRecursion,
           gigMom, gigRawMom, gammaRawMom)
importFrom("grDevices", "dev.interactive")
importFrom("graphics", "abline", "curve", "hist", "lines", "par",
           "plot", "title")
importFrom("stats", "integrate", "lm", "na.omit", "nlm", "optim",
           "ppoints", "qqplot", "quantile", "rgamma", "rnorm",
           "splinefun", "uniroot")

## ========== Exports ========================

exportPattern("skewhyp")# << FIXME?, also exports S3 methods

S3method(print, skewhypFit)
S3method(plot, skewhypFit)
S3method(summary, skewhypFit)
S3method(print, summary.skewhypFit)
