exportPattern("skewhyp")
S3method(print,skewhypFit)
S3method(plot,skewhypFit)
S3method(summary,skewhypFit)

importFrom(GeneralizedHyperbolic, dskewlap)
importFrom(GeneralizedHyperbolic, hyperbChangePars, ghypChangePars)
importFrom(DistributionUtils, logHist)
importFrom(DistributionUtils, safeIntegrate)
importFrom(GeneralizedHyperbolic, momRecursion)
importFrom(DistributionUtils, momIntegrated, momChangeAbout)
importFrom(GeneralizedHyperbolic, gigMom, gigRawMom, gammaRawMom)
importFrom(DistributionUtils, skewness, kurtosis)
importFrom(DistributionUtils, besselRatio, is.wholenumber)
