
################################################
## import name space
################################################

importFrom("fUtilities",
           ".sliderMenu",
           ".description",
           "interactivePlot",
           "setRmetricsOptions",
           "getRmetricsOptions")
importFrom("graphics",
           "plot",
           "box",
           "contour",
           "image",
           "par",
           "title",
           "hist",
           "pairs",
           "abline",
           "persp",
           "polygon",
           "rug")
importFrom("grDevices",
           "heat.colors")
importFrom("methods",
           "show",
           "new")
importFrom("sn",
           "dmsn",
           "dsn",
           "dmst",
           "dst",
           "msn.mle",
           "dsn2.plot",
           "msn.marginal",
           "mst.mle",
           "dst2.plot",
           "pmsn",
           "psn",
           "pmst",
           "pst",
           "rmsn",
           "rsn",
           "rmst",
           "rst")
importFrom("stats",
           "dnorm",
           "quantile",
           "var",
           "mahalanobis",
           "qchisq",
           "pchisq",
           "qf",
           "pnorm",
           "rnorm",
           "rchisq")
importFrom("timeSeries",
           "diff",
           "lines",
           "points",
           "sort",
           "rownames<-",
           "print")
importFrom("utils",
           "packageDescription")

################################################
## S4 classes
################################################

exportClasses("fMV" )
exportMethods("show" )

################################################
## S3 classes
################################################

S3method("plot", "fMV")
S3method("plot", "hexBinning")
S3method("plot", "squareBinning")
S3method("summary", "fMV")

################################################
## functions
################################################

export(
    "contour.gridData",
    "dcauchy2d",
    "delliptical2d",
    ".delliptical2dSlider",
    "density2d",
    "dmvsnorm",
    "dmvst",
    "dnorm2d",
    ".dnorm2d",
    "dt2d",
    ".gfunc2d",
    "grid2d",
    "gridData",
    "hexBinning",
    "hist2d",
    "integrate2d",
    "mvFit",
    ".mvsnormFit",
    ".mvsnormPlot",
    ".mvsnorm.plot.1",
    ".mvsnorm.plot.1A",
    ".mvsnorm.plot.1B",
    ".mvsnorm.plot.2",
    ".mvsnorm.plot.3",
    ".mvsnorm.plot.4",
    ".mvsnorm.plot.5",
    ".mvstFit",
    ".mvstPlot",
    ".mvst.plot.1",
    ".mvst.plot.1A",
    ".mvst.plot.1B",
    ".mvst.plot.2",
    ".mvst.plot.3",
    ".mvst.plot.4",
    ".mvst.plot.5",
    "pcauchy2d",
    "persp.gridData",
    "pmvsnorm",
    "pmvst",
    "pnorm2d",
    ".pnorm2d",
    "pt2d",
    "rcauchy2d",
    "rmvsnorm",
    "rmvst",
    "rnorm2d",
    ".rnorm2d",
    "rt2d",
    "squareBinning",
    ".TInt",
    ".TOwen" )
