################################################
## Manual Namespace
################################################

exportPattern(".")
import("methods")
import("mvtnorm")
import("sn")
import("akima")
import("spatial")
import("cubature")
import("fBasics")
