
################################################
## import name space
################################################

importFrom("fGarch",
           "plot",
           "residuals")
importFrom("fUtilities",
           ".description",
           "setRmetricsOptions",
           "getRmetricsOptions")
importFrom("methods",
           "new")
importFrom("stats",
           "pnorm",
           "sd",
           "as.ts",
           "runif",
           "ts",
           "frequency",
           "lm",
           "as.formula",
           "embed",
           "pchisq",
           "pf",
           "prcomp")
importFrom("timeSeries",
           "colnames<-",
           "diff",
           "lines",
           "rownames<-",
           "points",
           "window",
           "scale")
importFrom("utils",
           "packageDescription")

################################################
## useDynLib
################################################

useDynLib("fNonlinear")

################################################
## S4 classes
################################################


################################################
## S3 classes
################################################


################################################
## functions
################################################

export(
    "bdsTest",
    ".C2",
    ".checkEmbParms",
    ".d2",
    ".embeddPSR",
    "falsennPlot",
    ".find.nearest",
    ".follow.points",
    "henonSim",
    "ikedaSim",
    "logisticSim",
    "lorentzSim",
    ".lyapunovFit",
    "lyapunovPlot",
    "mutualPlot",
    "recurrencePlot",
    ".rk4",
    "roesslerSim",
    "runsTest",
    "separationPlot",
    "tentSim",
    "tnnTest",
    "tsTest",
    "wnnTest" )
