### Exports
export(torus, runif.halton, halton, runif.sobol, sobol, get.primes)

export(setSeed, congruRand, SFMT, WELL, knuthTAOCP)

export(set.generator, put.state, get.state)

export(gap.test, freq.test, serial.test, poker.test, order.test, coll.test)

export(stirling, permut)

### Debugging
# export(version.randtoolbox)


### use dynamic library for C code
useDynLib(randtoolbox, .registration = TRUE)


### Import of rngWELL package for C code
import(rngWELL)