
################################################
## import name space
################################################

importFrom("fUtilities",
           "kurtosis",
           "skewness",
           "akimaInterp",
           "setRmetricsOptions",
           "linearInterpp",
           ".sliderMenu",
           "getRmetricsOptions")
importFrom("graphics",
           "abline",
           "axis",
           "plot",
           "polygon",
           "boxplot",
           "mtext",
           "par",
           "title",
           "box",
           "hist",
           "persp",
           "grid",
           "contour",
           "plot.new",
           "plot.window",
           "rect",
           "text")
importFrom("grDevices",
           "contourLines")
importFrom("methods",
           "show",
           "new")
importFrom("stats",
           "acf",
           "pnorm",
           "residuals",
           "var",
           "ansari.test",
           "pchisq",
           "median",
           "qt",
           "approx",
           "density",
           "dnorm",
           "dcauchy",
           "optimize",
           "qnorm",
           "nlminb",
           "sd",
           "integrate",
           "qchisq",
           "cor.test",
           "ks.test",
           "complete.cases",
           "cor",
           "lsfit",
           "spline",
           "nlm",
           "pacf",
           "pcauchy",
           "qqline",
           "qqnorm",
           "ppoints",
           "qcauchy",
           "rnorm",
           "runif",
           "uniroot",
           "rexp",
           "rcauchy",
           "dt",
           "t.test",
           "pf",
           "qf")
importFrom("timeSeries",
           "as.timeSeries",
           "is.timeSeries",
           "rev",
           "sort",
           "colnames<-",
           "quantile",
           "lines",
           "rownames<-",
           "isUnivariate",
           "colCumsums",
           "drawdowns",
           "diff",
           "points",
           "print",
           "returns")
importFrom("utils",
           "packageDescription")

################################################
## S4 classes
################################################

exportClasses("fDISTFIT" )
exportMethods("show" )

################################################
## S3 classes
################################################


################################################
## functions
################################################

export(
    "acfPlot",
    "adTest",
    ".ansari2Test",
    ".ansariTest",
    ".bartlett2Test",
    "basicStats",
    "boxPercentilePlot",
    "boxPlot",
    ".ccfPlot",
    "correlationTest",
    "cumulatedPlot",
    "cvmTest",
    "dagoTest",
    "densityPlot",
    "dgh",
    "dght",
    "dhyp",
    ".dhyp1",
    ".dhyp2",
    ".dhyp3",
    ".dhyp4",
    "dmaxdd",
    "dnig",
    "drawdownPlot",
    "dstable",
    ".fct1",
    ".FCT1",
    ".fct2",
    ".FCT2",
    ".fligner2Test",
    ".g1",
    ".G1",
    ".g2",
    ".G2",
    "ghFit",
    "ghMode",
    "ghSlider",
    "ghtFit",
    "histPlot",
    ".hyp1Mode",
    ".hyp2Mode",
    ".hyp3Mode",
    ".hyp4Mode",
    ".hyperb.change.pars",
    "hypFit",
    "hypMode",
    "hypSlider",
    ".integrateStable",
    "jarqueberaTest",
    ".jbALM",
    ".jbLM",
    ".jbPlot",
    ".jbTable",
    ".jb.test",
    "jbTest",
    "kendallTest",
    "ks2Test",
    "ksnormTest",
    ".kurtosis.test",
    ".kw2Test",
    "lacfPlot",
    "lillieTest",
    ".lmacfPlot",
    "locationTest",
    "logDensityPlot",
    ".logpdfPlot",
    "maxddStats",
    ".maxddStats",
    ".mleStableFit",
    ".moodTest",
    "nFit",
    "nigFit",
    "nigShapeTriangle",
    "nigSlider",
    "normalTest",
    ".omnibus.test",
    "pacfPlot",
    "pchiTest",
    "pearsonTest",
    "pgh",
    "pght",
    ".phiStable",
    "phyp",
    ".phyp1",
    ".phyp2",
    ".phyp3",
    ".phyp4",
    ".pjb",
    ".plot.histogram",
    "pmaxdd",
    "pnig",
    "pstable",
    "qgh",
    "qght",
    "qhyp",
    ".qhyp1",
    ".qhyp2",
    ".qhyp3",
    ".qhyp4",
    ".qjb",
    "qnig",
    ".qqgaussPlot",
    "qqghtPlot",
    "qqnigPlot",
    "qqnormPlot",
    "qstable",
    ".qStableFit",
    "returnPlot",
    "returnSeriesGUI",
    "rgh",
    ".rght",
    ".rghyp",
    ".rgigjd",
    ".rgigjd1",
    "rhyp",
    ".rhyp1",
    ".rhyp2",
    ".rhyp3",
    ".rhyp4",
    ".rhyperb",
    "rmaxdd",
    "rnig",
    "rstable",
    "scaleTest",
    "scalinglawPlot",
    "seriesPlot",
    "sfTest",
    ".shapiro.test",
    "shapiroTest",
    ".skewness.test",
    "spearmanTest",
    "stableFit",
    "stableMode",
    "stableSlider",
    ".stylizedFactsGUI",
    "teffectPlot",
    "tFit",
    ".tTest",
    ".varfTest",
    "varianceTest" )
