################################################
## S3 classes
################################################
S3method(print,hyperbFit)
S3method(print,nigFit)
S3method(plot,hyperbFit)
S3method(plot,nigFit)
S3method(summary,hyperbFit)
S3method(summary,nigFit)
S3method(print,summary.hyperbFit)
S3method(print,summary.nigFit)
S3method(print,hyperbCvMTest)
S3method(coef,hyperbFit)
S3method(coef,nigFit)
S3method(vcov,hyperbFit)
S3method(vcov,nigFit)

################################################
## Functions
################################################
exportPattern("hyperb")
exportPattern("nig")
exportPattern("ghyp")
exportPattern("gig")
exportPattern("skewlap")
exportPattern("gamma")
exportPattern("Lambda")
exportPattern("mom")
export(plotShapeTriangle)
