exportPattern("hyperb")
exportPattern("ghyp")
exportPattern("gig")
exportPattern("skewlap")
exportPattern("gamma")
exportPattern("Lambda")
exportPattern("mom")
S3method(print,hyperbFit)
S3method(plot,hyperbFit)
S3method(summary,hyperbFit)
S3method(print,summary.hyperbFit)
S3method(print,hyperbCvMTest)
