
################################################
## fImport
################################################


################################################
## import namespace
################################################
import("timeDate")
import("timeSeries")

importFrom("methods", new)
importFrom("utils", download.file, write.table)


################################################
## exports
################################################

## from v4021.86 export selectively
## was: exportPattern(".")

exportClasses(fWEBDATA)
exportMethods(show)

export(
      charvecSplit
    , composeURL
    , dataSplit
    , fredImport
    , fredSeries
    , indexGrep
    , read.lines
    , read.links
    , read.lynx
    , read.w3m
    , stringSplit
)

