

################################################
## fGarch
################################################


################################################
## useDynLib
################################################

useDynLib("fGarch")


################################################
## import name space
################################################

import("timeDate")
import("timeSeries")
import("fBasics")


################################################
## functions
################################################

exportPattern(".")


