

################################################
## fGarch
################################################


################################################
## useDynLib
################################################

useDynLib("fGarch")


################################################
## import name space
################################################

import("timeDate")
import("timeSeries")
import("fBasics")

#import("methods")
#import("graphics")
#import("stats")


################################################
## functions
################################################

exportPattern(".")


