import(fBasics)
import(fOptions)
import(fExoticOptions)

export(AirbagCertificate)
export(BonusCertificate)
export(BonusProCertificate)
export(CappedBonusCertificate)
export(CappedReverseBonusCertificate)
export(DiscountCall)
export(DiscountCertificate)
export(DiscountPlusCertificate)
export(DiscountPut)
export(EasyExpressCertificate)
export(GarantieCertificate)
export(OutperformanceCertificate)
export(OutperformancePlusCertificate)
export(ReturnCertificate)
export(ReverseBonusCertificate)
export(ReverseConvertible)
export(ReverseConvertiblePlusPro)
export(ReverseDiscountCertificate)
export(ReverseDiscountPlusCertificate)
export(ReverseOutperformanceCertificate)
export(SprintCertificate)
export(Straddle)
export(Strangle)
export(TurboCertificate)
export(TwinWinCertificate)
export(Warrant)
export(DoubleBarrierBinaryCall)
export(LeveragedBonusCertificate)
export(implyVolatility)
export(.RLZ)
export(.Delta)
export(.Vega)
export(.Rho)
export(.Theta)