
################################################
## fRegression
################################################


################################################
## useDynLib
################################################

#useDynLib("fRegression")


################################################
## import name space
################################################

import("timeDate")
import("timeSeries")
import("fBasics")


################################################
## functions
################################################

exportPattern(".")
