
################################################
## import name space
################################################

importFrom("fBasics",
           "qqnormPlot")
importFrom("fUtilities",
           "termPlot",
           ".contourPlot",
           "gridVector",
           ".perspPlot",
           ".responsesPlot",
           ".residualsPlot",
           ".firePlot",
           ".acfPlot",
           ".pacfPlot",
           ".mrlPlot",
           ".description",
           "setRmetricsOptions",
           "getRmetricsOptions")
importFrom("graphics",
           "plot",
           "abline")
importFrom("methods",
           "show",
           "new")
importFrom("mgcv",
           "gam.control",
           "gam.method",
           "gam.setup",
           "interpret.gam",
           "PredictMat")
importFrom("stats",
           "coef",
           "fitted",
           "formula",
           "predict",
           "residuals",
           "terms",
           "vcov",
           "lm.fit",
           "model.frame",
           "model.matrix",
           "model.response",
           "pchisq",
           "pf",
           "pnorm",
           "gaussian",
           "rnorm",
           "runif",
           "sd",
           ".getXlevels",
           "glm.control",
           "glm.fit",
           "is.empty.model",
           "model.extract",
           "model.offset",
           "model.weights",
           "pt",
           "var",
           "ts",
           "lm.wfit",
           ".checkMFClasses",
           "delete.response",
           "na.pass",
           "napredict",
           "reformulate",
           "family",
           "predict.lm",
           "qt",
           "mahalanobis",
           "quantile",
           "as.formula",
           "cov")
importFrom("timeSeries",
           "diff",
           "head",
           "print",
           "scale",
           "rownames<-",
           "as.timeSeries")
importFrom("utils",
           "packageDescription",
           "menu")

################################################
## useDynLib
################################################

useDynLib("fRegression")

################################################
## S4 classes
################################################

exportClasses("fREG" )
exportMethods("coef",
              "fitted",
              "formula",
              "plot",
              "predict",
              "residuals",
              "show",
              "summary",
              "termPlot",
              "terms",
              "vcov" )

################################################
## S3 classes
################################################


################################################
## functions
################################################

export(
    ".bgtest",
    "bgTest",
    ".bptest",
    "bpTest",
    ".dwtest",
    "dwTest",
    ".fittedContour",
    ".fittedPersp",
    ".fittedPlot",
    ".gam",
    "GAM3",
    ".glm",
    ".gqtest",
    "gqTest",
    ".harvtest",
    "harvTest",
    ".hmctest",
    "hmcTest",
    ".interactiveRegPlot",
    ".lm",
    "LM3",
    "lmTest",
    "LOGIT3",
    ".multRegPlot",
    ".nnet",
    ".plot.1",
    ".plot.2",
    ".plot.3",
    ".plot.4",
    ".plot.5",
    ".plot.6",
    ".plot.7",
    ".plot.8",
    ".plot.common",
    ".plot.gam",
    ".plot.glm",
    ".plot.lm",
    ".plot.nnet",
    ".plot.polymars",
    ".plot.ppr",
    ".plot.rlm",
    ".polymars",
    ".polymarsDefault",
    ".polymarsFormula",
    ".ppr",
    ".predict.gam",
    ".predict.glm",
    ".predict.lm",
    ".predict.nnet",
    ".predict.polymars",
    ".predict.ppr",
    ".predict.rlm",
    ".raintest",
    "rainTest",
    "regFit",
    "regSim",
    ".reset",
    "resetTest",
    ".rlm" )
