
################################################
## import name space
################################################

importFrom("fUtilities",
           "setRmetricsOptions",
           "getRmetricsOptions")
importFrom("graphics",
           "plot")
importFrom("stats",
           "integrate",
           "pnorm",
           "dgamma",
           "dnorm",
           "dlnorm",
           "pgamma",
           "plnorm",
           "uniroot")
importFrom("timeSeries",
           "diff",
           "sort",
           "print",
           "lines")
importFrom("utils",
           "packageDescription")

################################################
## useDynLib
################################################

useDynLib("fAsianOptions")

################################################
## S4 classes
################################################


################################################
## S3 classes
################################################


################################################
## functions
################################################

export(
    ".AbrahamsonAsianOptionMoments",
    "AsianOptionMoments",
    ".Bessel01",
    "BesselDI",
    "BesselDK",
    ".Bessel.ENVJ",
    "BesselI",
    "BesselK",
    ".Bessel.MSTA1",
    ".Bessel.MSTA2",
    ".BesselN",
    "BoundsOnAsianOption",
    "CallPutParityAsianOption",
    "cgamma",
    "CurranThompsonAsianOption",
    "d2EBM",
    "dasymEBM",
    "dEBM",
    "derivative",
    "dgam",
    "djohnson",
    "dlognorm",
    "drgam",
    ".DufresneAsianOptionMoments",
    ".DufresneMoments",
    "erf",
    "FuMadanWangTable",
    "FusaiTaglianiTable",
    "GemanTable",
    "GemanYorAsianOption",
    "gGemanYor",
    "gLinetzky",
    ".GramCharlierAsianDensity",
    "GramCharlierAsianOption",
    ".gxtEBM",
    ".gxtuEBM",
    ".gxuEBM",
    "hermiteH",
    "igamma",
    "kummerM",
    "kummerU",
    ".LevyTurnbullWakemanAsianDensity",
    ".LevyTurnbullWakemanAsianOption",
    "LinetzkyAsianOption",
    "LinetzkyTable",
    "masian",
    ".MilevskyPosnerAsianDensity",
    ".MilevskyPosnerAsianOption",
    "mjohnson",
    "mlognorm",
    "mnorm",
    "MomentMatchedAsianDensity",
    "MomentMatchedAsianOption",
    "mrgam",
    "pEBM",
    "pgam",
    "pjohnson",
    "plognorm",
    "Pochhammer",
    ".PosnerMilevskyAsianDensity",
    ".PosnerMilevskyAsianOption",
    "prgam",
    "Psi",
    ".psiEBM",
    "RogerShiThompsonAsianOption",
    ".thetaEBM",
    "ThompsonAsianOption",
    "TolmatzAsianOption",
    ".TolmatzAsianOptionMoments",
    ".TurnbullWakemanAsianOptionMoments",
    "VecerAsianOption",
    "whittakerM",
    "whittakerW",
    "WithDividendsAsianOption",
    "ZhangApproximateAsianOption",
    "ZhangAsianOption",
    "ZhangLongTable",
    "ZhangShortTable",
    "ZhangTable" )
