exportPattern("hyperb")
exportPattern("ghyp")
exportPattern("gig")
exportPattern("skewlap")
exportPattern("gamma")
exportPattern("Lambda")
exportPattern("mom")
export(logHist)
export(safeIntegrate)
export(skewness,kurtosis)
export(besselRatio)
export(is.wholenumber)
S3method(print,hyperbFit)
S3method(plot,hyperbFit)
S3method(summary,hyperbFit)
S3method(print,summary.hyperbFit)
S3method(print,hyperbCvMTest)
