exportPattern("hyperb")
exportPattern("ghyp")
exportPattern("gig")
exportPattern("skewlap")
exportPattern("gamma")
exportPattern("Lambda")
exportPattern("mom")
export(logHist)
export(safeIntegrate)
export(skewness,kurtosis)
export(besselRatio)
export(is.wholenumber)
S3method(print,hyperbFit)
S3method(plot,hyperbFit)
S3method(summary,hyperbFit)
S3method(print,summary.hyperbFit)
S3method(print,hyperbCvMTest)
importFrom("grDevices", "dev.interactive")
importFrom("graphics", "abline", "curve", "hist", "hist.default",
          "par", "points", "segments", "title")
importFrom("stats", "dgamma", "integrate", "lm", "median", "na.omit",
           "nlm", "optim", "ppoints", "rexp", "rnorm", "runif", "sd",
           "splinefun", "uniroot", "var")
importFrom("utils", "data")
