exportPattern("hyperb")
exportPattern("ghyp")
exportPattern("gig")
exportPattern("skewlap")
exportPattern("Lambda")
export(logHist)
export(safeIntegrate)
export(skewness,kurtosis)
S3method(print,hyperbFit)
S3method(plot,hyperbFit)
S3method(summary,hyperbFit)
S3method(print,summary.hyperbFit)
S3method(print,hyperbCvMTest)
