 
Source: portfoliogui
Section: math
Priority: optional
Maintainer: Fabian Wuertz <edd@debian.org>
Build-Depends: debhelper, r-base-dev (>= 2.8.0), cdbs, r-cran-vr, r-cran-timedate, r-cran-timeseries, r-cran-fbasics, r-cran-fassets, r-cran-quadprog, r-cran-rglpk, xvfb, xauth, xfonts-base
Standards-Version: 3.8.0
Homepage: http://www.Rmetrics.org

Package: r-cran-portfoliogui
Architecture: any
Depends: ${shlibs:Depends}, r-base-core (>= 2.8.0), r-cran-vr, r-cran-timedate, r-cran-timeseries, r-cran-fbasics, r-cran-fassets, r-cran-quadprog, r-cran-rglpk
Suggests: r-cran-runit
Description: GNU R package for financial engineering -- fPortfolio
 This package of functions for financial engineering and computational
 finance is part of Rmetrics, a collection of packages written and
 compiled by Diethelm Wuertz. 
 .
 fPortfolio provides functions for portfolio and asset price modeling, drawdown
 statistics, value-at-risk and Markowitz portfolio construction.

