
################################################
## fArma
################################################


################################################
## useDynLib
################################################

useDynLib("fArma")


################################################
## import name space
################################################

import("timeDate")
import("timeSeries")
import("fBasics")

#import("methods")


################################################
## Export Functions
################################################

exportPattern(".")


