
################################################
## import name space
################################################

importFrom("fUtilities",
           ".description",
           "setRmetricsOptions",
           "getRmetricsOptions")
importFrom("graphics",
           "plot",
           "abline",
           "title",
           "grid",
           "par",
           "mtext",
           "polygon")
importFrom("grDevices",
           "heat.colors",
           "palette")
importFrom("methods",
           "show",
           "new",
           "@<-")
importFrom("stats",
           "coef",
           "fitted",
           "predict",
           "residuals",
           "lsfit",
           "ls.print",
           "var",
           "filter",
           "ar",
           "arima",
           "as.formula",
           "diffinv",
           "rnorm",
           "ts",
           "ARMAacf",
           "fft",
           "as.ts",
           "rexp",
           "runif",
           "model.frame",
           "acf",
           "na.pass",
           "qqline",
           "qqnorm",
           "Box.test",
           "frequency",
           "qnorm",
           "tsp",
           "pnorm",
           "printCoefmat",
           "optim")
importFrom("timeDate",
           "timeDate",
           "timeSequence")
importFrom("timeSeries",
           "lines",
           "timeSeries",
           "diff",
           "rev",
           "colnames<-",
           "colCumsums",
           "na.omit",
           "points",
           "print",
           "quantile")
importFrom("utils",
           "packageDescription",
           "menu")

################################################
## useDynLib
################################################

useDynLib("fArma")

################################################
## S4 classes
################################################

exportClasses("fARMA",
              "fHURST" )
exportMethods("show" )

################################################
## S3 classes
################################################

S3method("coef", "fARMA")
S3method("fitted", "fARMA")
S3method("plot", "fARMA")
S3method("predict", "fARMA")
S3method("residuals", "fARMA")
S3method("summary", "fARMA")

################################################
## functions
################################################

export(
    "absvalFit",
    ".accessD",
    "aggvarFit",
    ".arfimaFit",
    ".arFit",
    ".arimaFit",
    ".arimaPredict",
    ".armaFischer",
    "armaFit",
    "armaRoots",
    "armaSim",
    ".armaToeplitz",
    "armaTrueacf",
    ".arPredict",
    ".beranTest",
    "boxperFit",
    ".CetaARIMA",
    ".CetaFGN",
    ".ckFARIMA0",
    ".ckFGN0",
    ".convol",
    "diffvarFit",
    "farimaSim",
    "farimaStatsSlider",
    "farimaTrueacf",
    "farimaTruefft",
    "fbmSim",
    ".fbmSim.chol",
    ".fbmSim.circ",
    ".fbmSim.lev",
    ".fbmSim.mvn",
    ".fbmSim.wave",
    ".fbmSlider",
    ".ffourier.FGN.est",
    ".FGN.B.est",
    ".FGN.B.est.adjust",
    "fgnSim",
    ".fgnSim.beran",
    ".fgnSim.durbin",
    ".fgnSim.paxson",
    ".fgnSlider",
    ".FGN.spectrum",
    "fgnStatsSlider",
    "fgnTrueacf",
    "fgnTruefft",
    ".filter.select",
    ".first.last",
    ".fspecARIMA",
    ".fspecFGN",
    ".gkFARIMA0",
    ".gkFGN0",
    "higuchiFit",
    "hurstSlider",
    ".iARMA",
    ".iFARMA",
    ".interactiveArmaPlot",
    ".modelSeries",
    ".multArmaPlot",
    "pengFit",
    ".per",
    "perFit",
    ".plot.arma.1",
    ".plot.arma.2",
    ".plot.arma.3",
    ".plot.arma.4",
    ".psiwtsARMA",
    ".Qeta",
    ".Qmin2",
    "rsFit",
    ".rsTest",
    ".schurTest",
    ".simFARIMA0",
    ".simFGN0",
    ".tacvfARMA",
    ".tccfAR",
    ".toeplitzARMA",
    ".vsTest",
    "waveletFit",
    ".wd",
    ".whittle",
    "whittleFit" )
