exportPattern("vg")
S3method(print,vgFit)
S3method(plot,vgFit)
S3method(summary,vgFit)
S3method(print,summary.vgFit)

importFrom(GeneralizedHyperbolic, dskewlap)
importFrom(GeneralizedHyperbolic, hyperbChangePars, ghypChangePars)
importFrom(DistributionUtils, logHist)
importFrom(DistributionUtils, safeIntegrate)
importFrom(GeneralizedHyperbolic, momRecursion)
importFrom(DistributionUtils, momIntegrated, momChangeAbout)
importFrom(GeneralizedHyperbolic, gigMom, gigRawMom, gammaRawMom)
importFrom(DistributionUtils, skewness, kurtosis)
importFrom(DistributionUtils, besselRatio, is.wholenumber)
