importFrom("grDevices", dev.interactive)

importFrom("graphics", abline, curve, hist, hist.default, par, plot, title)

importFrom("stats", lm, na.omit, nlm, optim, ppoints,
           qqplot, rgamma, splinefun, uniroot, var)

importFrom("DistributionUtils",
           besselRatio, is.wholenumber, logHist,
           momIntegrated, momChangeAbout, safeIntegrate, skewness, kurtosis)

importFrom("GeneralizedHyperbolic",
           dskewlap, gigMom, gigRawMom, gammaRawMom,
           hyperbChangePars, ghypChangePars, momRecursion)

## ----------------------------
exportPattern("vg") ## "Pattern" FIXME: rather not the S3 methods below

S3method(print,vgFit)
S3method(plot,vgFit)
S3method(summary,vgFit)
S3method(print,summary.vgFit)

