### Exports
export(setSeed, congruRand, SFMT, WELL, knuthTAOCP)

export(set.generator, put.description, get.description)

export(rngWELLScriptR, getWELLState)

### Debugging
# export(version.randtoolbox)

### use dynamic library for C code
useDynLib(pseudoRNG, .registration = TRUE)

### Import of rngWELL package for C code
import(rngWELL)

