
################################################
## fOptions
################################################


################################################
## useDynLib
################################################

useDynLib("fOptions")


################################################
## import name spaces
################################################

import("timeDate")
import("timeSeries")
import("fBasics")


################################################
## functions
################################################

exportPattern(".")


