################################################
### Export Everything
################################################
exportPattern("^[^\\.]")
export(.SqrtMatrix)

################################################
### useDynLib
################################################
useDynLib("Rsocp")
