################################################
### Export Everything
################################################
exportPattern("^[^\\.]")
export(.SqrtMatrix)

################################################
### Imports
################################################
importFrom("utils", packageDescription)

################################################
### useDynLib
################################################
useDynLib("Rsocp")
