
################################################
## fExtremes
################################################


################################################
## import name space
################################################

import("timeDate")
import("timeSeries")
import("fBasics")
import("fGarch")

#import("methods")
#import("fTrading")


################################################
## functions
################################################

exportPattern(".")


