
################################################
## import name space
################################################

import("methods")
import("timeDate")
import("timeSeries")
import("fBasics")
import("fAssets")

################################################
## S4 classes
################################################

exportClasses("fPFOLIOBACKTEST" )
exportMethods("show" )

################################################
## S3 classes
################################################

S3method("getMessages", "fPFOLIOBACKTEST")
S3method("getSmootherDoubleSmoothing", "fPFOLIOBACKTEST")
S3method("getSmoother", "fPFOLIOBACKTEST")
S3method("getSmootherFun", "fPFOLIOBACKTEST")
S3method("getSmootherInitialWeights", "fPFOLIOBACKTEST")
S3method("getSmootherLambda", "fPFOLIOBACKTEST")
S3method("getSmootherParams", "fPFOLIOBACKTEST")
S3method("getSmootherSkip", "fPFOLIOBACKTEST")
S3method("getStrategy", "fPFOLIOBACKTEST")
S3method("getStrategyFun", "fPFOLIOBACKTEST")
S3method("getStrategyParams", "fPFOLIOBACKTEST")
S3method("getWindows", "fPFOLIOBACKTEST")
S3method("getWindowsFun", "fPFOLIOBACKTEST")
S3method("getWindowsHorizon", "fPFOLIOBACKTEST")
S3method("getWindowsParams", "fPFOLIOBACKTEST")

################################################
## functions
################################################

export(
    "backtestAssetsPlot",
    "backtestDrawdownPlot",
    "backtestPlot",
    "backtestPortfolioPlot",
    "backtestRebalancePlot",
    "backtestReportPlot",
    "backtestStats",
    "backtestWeightsPlot",
    "emaSmoother",
    "equidistWindows",
    "getSmoother",
    "getSmootherDoubleSmoothing",
    "getSmootherFun",
    "getSmootherInitialWeights",
    "getSmootherLambda",
    "getSmootherParams",
    "getSmootherSkip",
    "getStrategy",
    "getStrategyFun",
    "getStrategyParams",
    "getWindows",
    "getWindowsFun",
    "getWindowsHorizon",
    "getWindowsParams",
    "netPerformance",
    ".netPerformanceCalendar",
    ".netPerformancePlot",
    ".netPerformanceYTD",
    "portfolioBacktest",
    "portfolioBacktesting",
    "portfolioSmoothing",
    "rollingCDaR",
    "rollingCVaR",
    "rollingDaR",
    "rollingSigma",
    "rollingVaR",
    "setSmootherDoubleSmoothing<-",
    "setSmootherFun<-",
    "setSmootherInitialWeights<-",
    "setSmootherLambda<-",
    "setSmootherParams<-",
    "setSmootherSkip<-",
    "setStrategyFun<-",
    "setStrategyParams<-",
    "setWindowsFun<-",
    "setWindowsHorizon<-",
    "setWindowsParams<-",
    "tangencyStrategy" )
