import(graphics, stats, methods)
export(fit.schwartz2f)
export(schwartz2f)
exportMethods("coef")
exportMethods("coefficients")
exportMethods("mean")
exportMethods("vcov")
exportMethods("show")
exportMethods("pstate")
exportMethods("rstate")
exportMethods("simstate")
exportMethods("dstate")
exportMethods("qstate")
exportMethods("pfutures")
exportMethods("dfutures")
exportMethods("qfutures")
exportMethods("rfutures")
exportMethods("pricefutures")
exportMethods("VaRfutures")
exportMethods("ESfutures")
exportMethods("filter.schwartz2f")
exportMethods("plot")
exportMethods("fitted")
exportMethods("priceoption")
#S3method(plot, futures)
export(futuresplot)
