import(stats, methods)
export(fit2factor)
export(schwartz2factor)
exportMethods("coef")
exportMethods("coefficients")
exportMethods("show")
exportMethods("pstate")
exportMethods("rstate")
exportMethods("simstate")
exportMethods("dstate")
exportMethods("qstate")
exportMethods("pfutures")
exportMethods("dfutures")
exportMethods("qfutures")
exportMethods("rfutures")
exportMethods("pricefutures")
exportMethods("priceoption")
exportMethods("VaRfutures")
exportMethods("ESfutures")
exportMethods("filter2factor")
#S3method(plot, futures)
export(futuresplot)
