
################################################
## import name space
################################################

importFrom("graphics",
           "box",
           "par",
           "plot",
           "text",
           "grid",
           "symbols",
           "axis",
           "matplot",
           "points",
           "contour",
           "mtext",
           "abline",
           "barplot",
           "hist",
           "layout",
           "panel.smooth",
           "rug",
           "title",
           "lines",
           "persp",
           "locator",
           "polygon")
importFrom("grDevices",
           "rgb",
           "cm.colors",
           "xy.coords",
           "colors",
           "col2rgb",
           "gray.colors",
           "heat.colors",
           "rainbow",
           "terrain.colors",
           "topo.colors")
importFrom("methods",
           "show",
           "slotNames")
importFrom("stats",
           "acf",
           "approx",
           "na.omit",
           "integrate",
           "sd",
           "var",
           "spline",
           "median",
           "qnorm",
           "pacf",
           "qt",
           "uniroot")
importFrom("utils",
           "packageDescription",
           "menu",
           "str")

################################################
## S4 classes
################################################

exportClasses("fHTEST" )
exportMethods("show" )

################################################
## S3 classes
################################################

S3method("align", "default")
S3method("as.POSIXlt", "default")
S3method("atoms", "default")
S3method("kurtosis", "data.frame")
S3method("kurtosis", "default")
S3method("kurtosis", "POSIXct")
S3method("kurtosis", "POSIXlt")
S3method("outlier", "default")
S3method("skewness", "data.frame")
S3method("skewness", "default")
S3method("skewness", "POSIXct")
S3method("skewness", "POSIXlt")
S3method("stdev", "default")
S3method("termPlot", "default")
S3method("volatility", "default")

################################################
## functions
################################################

export(
    ".acfPlot",
    "akimaInterp",
    "akimaInterpp",
    "align",
    ".asRGB",
    "atoms",
    ".blue2greenPalette",
    ".blue2redPalette",
    ".blue2yellowPalette",
    "box_",
    "Boxcar",
    "boxL",
    ".by2seconds",
    "characterTable",
    ".chcode",
    ".circlesPlot",
    "cmPalette",
    ".cnvrt.coords",
    "colAvgs",
    "colIds",
    "colIds<-",
    "colKurtosis",
    "colMaxs",
    "colMins",
    "colorLocator",
    "colorMatrix",
    "colorTable",
    "colProds",
    "colQuantiles",
    "colSds",
    "colSkewness",
    "colStats",
    "colStdevs",
    "colVars",
    "colVec",
    ".contourPlot",
    "copyright",
    "countFunctions",
    ".cyan2magentaPalette",
    "decor",
    ".dec.to.hex",
    "Delta",
    "description",
    ".description",
    "distCheck",
    ".distCheck",
    "divPalette",
    ".emptyPlot",
    "finCenter",
    "finCenter<-",
    ".firePlot",
    ".fjulian",
    "focusPalette",
    "getCall",
    "getDescription",
    "get.lcgseed",
    "getModel",
    "getRmetricsOptions",
    "getSlot",
    "getTitle",
    ".green2redPalette",
    "greyPalette",
    "gridVector",
    "heatPalette",
    "Heaviside",
    ".heavisideSlider",
    ".hex.to.dec",
    "hgrid",
    "hilbert",
    ".histStack",
    "interactivePlot",
    ".interp.new",
    ".interp.old",
    ".interpp.new",
    ".interpp.old",
    "inv",
    ".is.positive.definite",
    "isPositiveDefinite",
    ".isPOSIX",
    ".julian",
    "krigeInterp",
    "kron",
    "kurtosis",
    "linearInterp",
    "linearInterpp",
    "listDescription",
    "listFunctions",
    "listIndex",
    ".make.positive.definite",
    "makePositiveDefinite",
    "monoPalette",
    ".mrlPlot",
    "norm",
    "outlier",
    ".pacfPlot",
    "pascal",
    "pdl",
    ".perspPlot",
    ".plot",
    ".predict",
    ".print",
    "print.control",
    ".purple2greenPalette",
    "qualiPalette",
    "rainbowPalette",
    "Ramp",
    "rampPalette",
    ".residualsPlot",
    ".responsesPlot",
    "rk",
    ".rmetricsPackages",
    ".rmetricsUnitTest",
    "rnorm.lcg",
    "rowAvgs",
    "rowIds",
    "rowIds<-",
    "rowKurtosis",
    "rowMaxs",
    "rowMins",
    "rowProds",
    "rowQuantiles",
    "rowSds",
    "rowSkewness",
    "rowStats",
    "rowStdevs",
    "rowVars",
    "rowVec",
    "rt.lcg",
    "runif.lcg",
    ".runitTest",
    "seqPalette",
    "set.lcgseed",
    "setRmetricsOptions",
    "Sign",
    "skewness",
    ".sliderMenu",
    "stdev",
    ".subPlot",
    ".subStars",
    ".summary",
    "symbolTable",
    ".tdSliderMenu",
    "termPlot",
    "terrainPalette",
    "timPalette",
    "topoPalette",
    "tr",
    "triang",
    "Triang",
    "tslag",
    ".tslag1",
    ".unirootNA",
    "vec",
    "vech",
    "vgrid",
    "volatility",
    ".xrug",
    ".yrug" )
