################################################
### Imports
################################################
importFrom("graphics",
           hist.default, lines, plot, points, segments)
importFrom("stats",
           integrate, median, optimize, pchisq, pgamma, pnorm, ppoints, pt,
           quantile, sd, splinefun, uniroot, var)

################################################
### Functions
################################################
#export(newIBFR)
export(besselRatio,
       distIneqMassart, distIneqMassartPlot,
       incompleteBesselK, incompleteBesselKR,
       integrateDens,
       inversionTestpq, inversionTestqp,
       is.wholenumber,
       logHist,
       momChangeAbout, momIntegrated, momSE,
       safeIntegrate,
       skewness, kurtosis,
       tailPlot, tailPlotLine,
       normTailPlotLine, tTailPlotLine, gammaTailPlotLine,
       tsHessian,
       pDist, qDist,
       distCalcRange, distMode, distStepSize,
       moranTest)

################################################
### useDynLib
################################################
# Refer to all C/Fortran routines by their name prefixed by C_
useDynLib(DistributionUtils, .registration = TRUE, .fixes = "C_")

