
################################################
## import name space
################################################

import("graphics")
import("utils")
import("stats")
import("methods")

################################################
## S4 classes
################################################

exportClasses("timeDate" )
export("align",
        "atoms",
        "finCenter<-",
        "finCenter",
        "isDaily",
        "isMonthly",
        "isQuarterly",
        "isRegular",
        "timeDate" )
exportMethods("abline",
              "-",
              "[",
              "+",
              "coerce",
              "frequency",
              "initialize",
              "is.na",
              "julian",
              "lines",
              "months",
              "Ops",
              "plot",
              "points",
              "sample",
              "show" )

################################################
## S3 classes
################################################

S3method("as.character", "timeDate")
S3method("as.data.frame", "timeDate")
S3method("as.Date", "timeDate")
S3method("as.double", "timeDate")
S3method("as.list", "timeDate")
S3method("as.POSIXct", "timeDate")
S3method("as.POSIXlt", "timeDate")
S3method("as.timeDate", "Date")
S3method("as.timeDate", "default")
S3method("as.timeDate", "POSIXt")
S3method("as.timeDate", "timeDate")
S3method("c", "timeDate")
S3method("cut", "timeDate")
S3method("diff", "timeDate")
S3method("end", "timeDate")
S3method("format", "timeDate")
S3method("kurtosis", "data.frame")
S3method("kurtosis", "default")
S3method("kurtosis", "POSIXct")
S3method("kurtosis", "POSIXlt")
S3method("length", "timeDate")
S3method("max", "timeDate")
S3method("min", "timeDate")
S3method("range", "timeDate")
S3method("rep", "timeDate")
S3method("rev", "timeDate")
S3method("round", "timeDate")
S3method("seq", "timeDate")
S3method("skewness", "data.frame")
S3method("skewness", "default")
S3method("skewness", "POSIXct")
S3method("skewness", "POSIXlt")
S3method("sort", "timeDate")
S3method("start", "timeDate")
S3method("summary", "timeDate")
S3method("[<-", "timeDate")
S3method("trunc", "timeDate")
S3method("unique", "timeDate")
S3method("window", "timeDate")

################################################
## functions
################################################

export(
    "Abidjan",
    "Accra",
    "Adak",
    "Addis_Ababa",
    "Adelaide",
    "Aden",
    "Advent1st",
    "Advent2nd",
    "Advent3rd",
    "Advent4th",
    "Algiers",
    "AllSaints",
    "AllSouls",
    "Almaty",
    "Amman",
    "Amsterdam",
    "Anadyr",
    "Anchorage",
    "Andorra",
    "Anguilla",
    "Annunciation",
    "Antananarivo",
    "Antigua",
    "Apia",
    "Aqtau",
    "Aqtobe",
    "Araguaina",
    "Aruba",
    "Ascension",
    "Ashgabat",
    "AshWednesday",
    "Asmara",
    "AssumptionOfMary",
    "as.timeDate",
    "Asuncion",
    "Athens",
    "Atikokan",
    "Auckland",
    "axis.timeDate",
    "Azores",
    "Baghdad",
    "Bahia",
    "Bahrain",
    "Baku",
    "Bamako",
    "Bangkok",
    "Bangui",
    "Banjul",
    "Barbados",
    "Beirut",
    "Belem",
    "Belgrade",
    "Belize",
    "Berlin",
    "Bermuda",
    "BirthOfVirginMary",
    "Bishkek",
    "Bissau",
    "Blanc-Sablon",
    "Blantyre",
    "blockEnd",
    "blockStart",
    "Boa_Vista",
    "Bogota",
    "Boise",
    "BoxingDay",
    "Bratislava",
    "Brazzaville",
    "Brisbane",
    "Broken_Hill",
    "Brunei",
    "Brussels",
    "Bucharest",
    "Budapest",
    "BuenosAires",
    "Buenos_Aires",
    "Bujumbura",
    ".by2seconds",
    "CACanadaDay",
    "CACivicProvincialHoliday",
    "CAFamilyDay",
    "Cairo",
    "CALabourDay",
    "Calcutta",
    "Cambridge_Bay",
    "Campo_Grande",
    "Canary",
    "Cancun",
    "Cape_Verde",
    "Caracas",
    "CaRemembranceDay",
    "Casablanca",
    "Casey",
    "Catamarca",
    "CAThanksgivingDay",
    "CAVictoriaDay",
    "Cayenne",
    "Cayman",
    "CelebrationOfHolyCross",
    "Center",
    "Ceuta",
    "Chagos",
    "CHAscension",
    "Chatham",
    "CHBerchtoldsDay",
    "CHConfederationDay",
    "Chicago",
    "Chihuahua",
    "Chisinau",
    "CHKnabenschiessen",
    "Choibalsan",
    "Chongqing",
    "Christmas",
    "ChristmasDay",
    "ChristmasEve",
    "ChristTheKing",
    "CHSechselaeuten",
    "Cocos",
    "Colombo",
    "Comoro",
    "Conakry",
    "Copenhagen",
    "Cordoba",
    "CorpusChristi",
    "Costa_Rica",
    "Cuiaba",
    "Curacao",
    "Currie",
    "Dakar",
    "Damascus",
    "Danmarkshavn",
    "Dar_es_Salaam",
    "Darwin",
    "Davis",
    "Dawson",
    "Dawson_Creek",
    ".day.of.week",
    "dayOfWeek",
    "dayOfYear",
    "DEAscension",
    "DEChristmasEve",
    "DECorpusChristi",
    "DEGermanUnity",
    "DENewYearsEve",
    "Denver",
    "Detroit",
    "Dhaka",
    "difftimeDate",
    "Dili",
    "Djibouti",
    "Dominica",
    "Douala",
    "Dubai",
    "Dublin",
    "DumontDUrville",
    "Dushanbe",
    ".easter",
    "Easter",
    "EasterMonday",
    "Eastern",
    ".easterSunday",
    "EasterSunday",
    "Edmonton",
    "Efate",
    "Eirunepe",
    "El_Aaiun",
    "El_Salvador",
    "Enderbury",
    ".endpoints",
    "Epiphany",
    "Eucla",
    "Fakaofo",
    "Faroe",
    "Fiji",
    ".fjulian",
    ".formatFinCenter",
    ".formatFinCenterNum",
    "Fortaleza",
    "FRAllSaints",
    "Frankfurt",
    "FRArmisticeDay",
    "FRAscension",
    "FRAssumptionVirginMary",
    "FRBastilleDay",
    "Freetown",
    "FRFetDeLaVictoire1945",
    "Funafuti",
    "Gaborone",
    "Galapagos",
    "Gambier",
    "Gaza",
    "GBBankHoliday",
    "GBMayDay",
    "GBMilleniumDay",
    "GBSummerBankHoliday",
    ".genDaylightSavingTime",
    "getRmetricsOptions",
    "Gibraltar",
    "Glace_Bay",
    "Godthab",
    "GoodFriday",
    "Goose_Bay",
    "Grand_Turk",
    "Grenada",
    "Guadalcanal",
    "Guadeloupe",
    "Guam",
    "Guatemala",
    "Guayaquil",
    "Guernsey",
    "Guyana",
    "Halifax",
    "Harare",
    "Harbin",
    "Havana",
    "Helsinki",
    "Hermosillo",
    "Hobart",
    "holiday",
    "holidayNERC",
    "holidayNYSE",
    "holidayTSX",
    "holidayZURICH",
    "HongKong",
    "Hong_Kong",
    "Honolulu",
    "Hovd",
    "Indianapolis",
    "Inuvik",
    "Iqaluit",
    "Irkutsk",
    "isBizday",
    "isHoliday",
    "Isle_of_Man",
    ".isPOSIX",
    "Istanbul",
    "isWeekday",
    "isWeekend",
    "ITAllSaints",
    "ITAssumptionOfVirginMary",
    "ITEpiphany",
    "ITImmaculateConception",
    "ITLiberationDay",
    "ITStAmrose",
    "Jakarta",
    "Jamaica",
    "Jayapura",
    "Jersey",
    "Jerusalem",
    "Johannesburg",
    "Johnston",
    "JPAutumnalEquinox",
    "JPBankHolidayDec31",
    "JPBankHolidayJan2",
    "JPBankHolidayJan3",
    "JPBunkaNoHi",
    "JPChildrensDay",
    "JPComingOfAgeDay",
    "JPConstitutionDay",
    "JPEmperorsBirthday",
    "JPGantan",
    "JPGreeneryDay",
    "JPHealthandSportsDay",
    "JPKeirouNOhi",
    "JPKenkokuKinenNoHi",
    "JPKenpouKinenBi",
    "JPKinrouKanshaNoHi",
    "JPKodomoNoHi",
    "JPKokuminNoKyujitu",
    "JPMarineDay",
    "JPMidoriNoHi",
    "JPNatFoundationDay",
    "JPNationalCultureDay",
    "JPNationHoliday",
    "JPNewYearsDay",
    "JPRespectForTheAgedDay",
    "JPSeijinNoHi",
    "JPShuubunNoHi",
    "JPTaiikuNoHi",
    "JPTennouTanjyouBi",
    "JPThanksgivingDay",
    "JPUmiNoHi",
    "JPVernalEquinox",
    "Jujuy",
    ".julian",
    ".JULIAN",
    "Juneau",
    "Kabul",
    "Kaliningrad",
    "Kamchatka",
    "Kampala",
    "Karachi",
    "Kashgar",
    "Katmandu",
    "Kerguelen",
    "Khartoum",
    "Kiev",
    "Kigali",
    "Kinshasa",
    "Kiritimati",
    "Knox",
    "Kosrae",
    "Krasnoyarsk",
    "KualaLumpur",
    "Kuala_Lumpur",
    "Kuching",
    "kurtosis",
    "Kuwait",
    "Kwajalein",
    "LaborDay",
    "Lagos",
    "La_Paz",
    "La_Rioja",
    ".last.of.nday",
    "Libreville",
    "Lima",
    "Lindeman",
    "Lisbon",
    "listFinCenter",
    "listHolidays",
    "Ljubljana",
    "Lome",
    "London",
    "Longyearbyen",
    "Lord_Howe",
    "LosAngeles",
    "Los_Angeles",
    "Louisville",
    "Luanda",
    "Lubumbashi",
    "Lusaka",
    "Luxembourg",
    "Macau",
    "Maceio",
    "Madeira",
    "Madrid",
    "Magadan",
    "Mahe",
    "Majuro",
    "Makassar",
    "Malabo",
    "Maldives",
    "Malta",
    "Managua",
    "Manaus",
    "Manila",
    "Maputo",
    "Marengo",
    "Mariehamn",
    "Marigot",
    "Marquesas",
    "Martinique",
    "Maseru",
    "MassOfArchangels",
    "Mauritius",
    "Mawson",
    "Mayotte",
    "Mazatlan",
    "Mbabane",
    "McMurdo",
    "Melbourne",
    "Mendoza",
    "Menominee",
    "Merida",
    "MexicoCity",
    "Mexico_City",
    "midnightStandard",
    "midnightStandard2",
    ".midnightStandard",
    "Midway",
    "Minsk",
    "Miquelon",
    "Mogadishu",
    "Monaco",
    "Moncton",
    "Monrovia",
    "Monterrey",
    "Montevideo",
    ".month.day.year",
    "monthlyRolling",
    "Monticello",
    "Montreal",
    "Montserrat",
    "Moscow",
    "Muscat",
    "Nairobi",
    "Nassau",
    "Nauru",
    "Ndjamena",
    "New_Salem",
    "NewYearsDay",
    "NewYork",
    "New_York",
    "Niamey",
    "Nicosia",
    "Nipigon",
    "Niue",
    "Nome",
    "Norfolk",
    "Noronha",
    "Nouakchott",
    "Noumea",
    "Novosibirsk",
    ".nth.of.nday",
    "Omsk",
    ".on.or.after",
    ".on.or.before",
    "Oral",
    "Oslo",
    "Ouagadougou",
    "Pacific",
    "Pago_Pago",
    "Palau",
    "Palmer",
    "PalmSunday",
    "Panama",
    "Pangnirtung",
    "Paramaribo",
    "Paris",
    "Pentecost",
    "PentecostMonday",
    "periodicallyRolling",
    "periods",
    "Perth",
    "Petersburg",
    "Phnom_Penh",
    "Phoenix",
    "Pitcairn",
    "Podgorica",
    "Ponape",
    "Pontianak",
    "Port-au-Prince",
    "Port_Moresby",
    "Port_of_Spain",
    "Porto-Novo",
    "Porto_Velho",
    "Prague",
    "PresentationOfLord",
    "Puerto_Rico",
    "Pyongyang",
    "Qatar",
    "Quinquagesima",
    "Qyzylorda",
    "Rainy_River",
    "Rangoon",
    "Rankin_Inlet",
    "Rarotonga",
    "Recife",
    "Regina",
    "Resolute",
    "Reunion",
    "Reykjavik",
    "Riga",
    "Rio_Branco",
    "Rio_Gallegos",
    "Riyadh",
    "RogationSunday",
    "Rome",
    "Rothera",
    "rulesFinCenter",
    "Saigon",
    "Saipan",
    "Sakhalin",
    "Samara",
    "Samarkand",
    "San_Juan",
    "San_Marino",
    "Santiago",
    "Santo_Domingo",
    "Sao_Paulo",
    "Sao_Tome",
    "Sarajevo",
    "Scoresbysund",
    ".sdate",
    ".sday.of.week",
    "Seoul",
    "Septuagesima",
    "setRmetricsOptions",
    "Shanghai",
    "Shiprock",
    "Simferopol",
    "Singapore",
    ".sjulian",
    "skewness",
    "Skopje",
    ".sleap.year",
    "Sofia",
    "SolemnityOfMary",
    "South_Georgia",
    "South_Pole",
    "Stanley",
    "St_Barthelemy",
    "St_Helena",
    "St_Johns",
    "St_Kitts",
    "St_Lucia",
    "Stockholm",
    "strptimeDate",
    "St_Thomas",
    "St_Vincent",
    ".subsetByPython",
    ".subsetBySpan",
    ".subsetCode",
    "Swift_Current",
    "Sydney",
    "Syowa",
    "Sys.timeDate",
    "Tahiti",
    "Taipei",
    "Tallinn",
    "Tarawa",
    "Tashkent",
    "Tbilisi",
    "Tegucigalpa",
    "Tehran",
    "Tell_City",
    "Thimphu",
    "Thule",
    "Thunder_Bay",
    "Tijuana",
    "timeCalendar",
    "timeFirstDayInMonth",
    "timeFirstDayInQuarter",
    "timeLastDayInMonth",
    "timeLastDayInQuarter",
    "timeLastNdayInMonth",
    "timeNdayOnOrAfter",
    "timeNdayOnOrBefore",
    "timeNthNdayInMonth",
    "timeSequence",
    "Tirane",
    "Tokyo",
    "Tongatapu",
    "Toronto",
    "Tortola",
    "TransfigurationOfLord",
    "TrinitySunday",
    "Tripoli",
    "Truk",
    "Tucuman",
    "Tunis",
    "Ulaanbaatar",
    "Urumqi",
    "USChristmasDay",
    "USColumbusDay",
    "USCPulaskisBirthday",
    "USDecorationMemorialDay",
    "USElectionDay",
    "USGoodFriday",
    "Ushuaia",
    "USInaugurationDay",
    "USIndependenceDay",
    "USLaborDay",
    "USLincolnsBirthday",
    "USMemorialDay",
    "USMLKingsBirthday",
    "USNewYearsDay",
    "USPresidentsDay",
    "USThanksgivingDay",
    "USVeteransDay",
    "USWashingtonsBirthday",
    "Uzhgorod",
    "Vaduz",
    "Vancouver",
    "Vatican",
    "Vevay",
    "Vienna",
    "Vientiane",
    "Vilnius",
    "Vincennes",
    "Vladivostok",
    "Volgograd",
    "Vostok",
    "Wake",
    "Wallis",
    "Warsaw",
    "whichFormat",
    ".whichFormat",
    "Whitehorse",
    "Winamac",
    "Windhoek",
    "Winnipeg",
    "Yakutat",
    "Yakutsk",
    "Yekaterinburg",
    "Yellowknife",
    "Yerevan",
    "Zagreb",
    "Zaporozhye",
    "Zurich" )
