################################################################################
## Exports
################################################################################
exportPattern("^[^\\.]")
exportPattern(.fportfolio.plot.1)
exportPattern(.fportfolio.plot.2)
exportPattern(.fportfolio.plot.3)
exportPattern(.fportfolio.plot.4)
exportPattern(.fportfolio.plot.5)
exportPattern(.fportfolio.plot.6)
exportPattern(.fportfolio.plot.7)
exportPattern(.fportfolio.plot.8)

################################################################################
## Imports
################################################################################
import(methods)
import(timeDate)
import(timeSeries)
import(fBasics)
import(fAssets)

import(fCopulae)
import(robustbase)
import(MASS)
import(Rglpk)
import(slam)
import(Rsymphony)
import(Rsolnp)
import(kernlab)
import(quadprog)
import(rneos)
