
################################################
## fUnitRoots
################################################


################################################
## useDynLib
################################################

useDynLib("fUnitRoots", .registration=TRUE)

################################################
## import name space
################################################

#import("timeDate")

importFrom("timeSeries", description, series, plot)

importFrom("fBasics", linearInterp, linearInterpp)

importFrom("graphics", persp)

importFrom("methods", new, is)

importFrom("stats", approx, embed, lm, na.omit)
importFrom("utils", capture.output)


################################################
## functions
################################################

export(
    adfTable,
    adfTest,
    padf,
    punitroot,
    qadf,
    qunitroot,
    unitrootTable,
    unitrootTest,
    urdfTest,
    urersTest,
    urkpssTest,
    urppTest,
    urspTest,
    urzaTest
)
