exportPattern("nl")
export(millsR)
importFrom(HyperbolicDist, dskewlap)
importFrom(HyperbolicDist, hyperbChangePars, ghypChangePars)
importFrom(HyperbolicDist, logHist)
importFrom(HyperbolicDist, safeIntegrate)
importFrom(HyperbolicDist, momRecursion, momIntegrated, momChangeAbout)
importFrom(HyperbolicDist, gigMom, gigRawMom, gammaRawMom)
importFrom(HyperbolicDist, skewness, kurtosis)
importFrom(HyperbolicDist, besselRatio, is.wholenumber)
